body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #ff6347; 
    color: white;
    padding: 20px 0;
}

#footer {
    text-align: right;
    background-color: #32cd32; 
    color: white;
    padding: 10px 20px;
}
h1{
    margin: 5px;
}
hr{
    width: 50%;
}
.tab{
    font-size: 2rem;
}
#menuPizzes{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#menuEntrants{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
